.margen {
	margin-left: 0px;
	margin-right: 0px;
}

/* .nube-footer{
    background-image: url(../image/nube-fondo@2x.png);
    background-repeat: no-repeat;
    background-size: 380px;
    height: 200px;
    position: relative;
    top: 78px;
} */

.datosUsuario {
	margin-top: 50px;
	margin-left: 30px;
}

.pInput {
	color: #8DC6E2;
	font-size: 1.1em;
}

.inputSueño {
	width: 272px;
	height: 60px;
	font-size: 1.4em;
}

.inputFoto {
	width: 272px;
	height: 60px;
	padding-left: 22%;
	font-size: 1.4em;
	color: #4a4a4a;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.iconAgregar {
    top: 58%;
    left: 12%;
    font-size: 2em;
	position: absolute;
}

.correccionTamano {
	width: 190px;
    height: 60px;
    font-size: 1.4em;
}

.altoSelect {
	height: 60px;
	width: 74px;
}