.hola-title{
	font-size: 30px;
    color: #fff;
    padding-left: 26px;
    padding-top: 17px;
    font-weight: bolder;
}

.icon-pd{
	padding-top: 5px;
}

.registrate{
	font-size: 28px;
	color: #fff;
	opacity: 0.5;
	margin-top: 94px;
	font-weight:regular;
}

.home-nube{
	height: 182px;
	width: 261;
	margin-top: 72px;
}

.iniciar-home{
	font-size: 25px;
	color: #fff;
	margin-top: 5px;
}

.btn-plus{
	border:0;
	background: transparent;
}