/*inicio*/
body{
  margin: 0 !important;
  padding: 0 !important;
}
.logo-junta-pe{
  height: 104px;
  margin: 10% 0 0 22%;
}
.intro-junta{
  margin: 20% 0% 0px 5%;
}
.intro-junta h3{
  font-size: 160%;
  color: #ffffff;
}
.intro-junta h2{
  color: #FFB301;
  font-weight: bold;
}
.ingresar{
  top: 8.2em;
}
.ingresar button{
  color: #ffffff;
  font-size: 17px;
  position: relative;
  top: 7.3em;
  left: 9%;
}