/*inicio*/
body{
  margin: 0 !important;
  padding: 0 !important;
}
.logo-junta-pe{
  height: 104px;
  margin: 17% 0 0 20%;
  object-fit: contain;
}
.intro-junta{
  margin: 23% 0% 0px 3%;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.intro-junta h3{
  line-height: 1.2;
  font-size: 24px;
  color: #ffffff;
}
.intro-junta h2{
  color: #FFB301;
  font-size: 33px;
  font-weight: bold;
  margin-top: -1.5px;
}
.ingresar{
  background-size: 374px;
  top: 5.7em;
}
.ingresar button{
  color: #ffffff;
  font-size: 17px;
  position: relative;
  top: 7.3em;
  left: 9%;
}