.font-kalam{
	font-size: 30px;
}

.shape-copy-2{
  width: 375px;
  height: 203px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.yellow-login{
	color: #ffb301;
}

.white{
	color: #fff;
}

.login{
	margin-top: 99px;
	margin-bottom: 80px;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.code-remsj{
	color: #fff;
	margin-bottom: 97px;	
}

.confirm{
	text-decoration: none;
}

.foot{
	padding-top: 121px;
}

.nube-footer{
	bottom: -82px;
}

#login-code{
	margin-bottom: 11px;
}

.nube-top{
	top:42px;
	height: 202px;
}


